<h1>Editando {{product.name}}</h1>
<form action="/products/edit" method="POST" >
    <input type="hidden" name="id" value="{{product._id}}" >
    <div class="form-control">
        <label for="name">Nome do Produto:</label>
        <input name="name" type="text" value="{{product.name}}" >
    </div>
    <div class="form-control">
        <label for="image">Imagem do Produto:</label>
        <input name="image" type="text" value="{{product.image}}" >
    </div>
    <div class="form-control">
        <label for="price">Preço do Produto:</label>
        <input name="price" type="text" value="{{product.price}}" >
    </div>
    <div class="form-control">
        <label for="description">Descrição:</label>
        <textarea name="description">{{product.description}}</textarea>
    </div>
    <input type="submit" value="Editar" class="btn" >
</form>